.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.form-elem {
  margin-top: 10px;
}

.form-elem input {
  margin-right: 10px;
}

.form-elem label {
  float: left;
  font-size: 14px;
  width: 80px;
}

button {
  background: #e52454;
  color: white;
  padding: 10px 25px 10px 25px;
  border: none;  
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  background: white;
  color: #e52454;
}

.save-box {
  position: absolute;
  top: 10px;
  right: 115px;
}