html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.menu {
  background: #e52454;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 20px;
}

.menu ul {
  padding: 0;
  list-style: none;
}

.menu a {
  display: block;
  width: 150px;
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}

.menu a.active,
.menu a:hover {
  background: white;
  color: #e52454;
  border-radius: 5px;
}